body {
    background-image: url('../images/Markline_intro.jpg');
    background-color: black !important;
    background-attachment: scroll;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}